:root{
    /* spacing */
    --small-gap: 0.5rem;
    
    /* font sizes */
    --normal: 20px;
    --medium: 28px;
    --large: 48px;

    /* Themes */
    /* Light mode */
    --lm-primary: #007B7C;
    --lm-secondary: #50424F;
    --lm-tertiary: #D96FD3;
    --lm-highlight-1: #e2e0e2;
    --lm-highlight-2: #edf5f5;
    --lm-highlight-3: #00B2B0;
    --lm-light-font: rgb(236, 229, 229);
    --lm-dark-font: rgb(41, 38, 38);

    /* Dark mode */

    --dm-primary: #007B7C;
    --dm-secondary: #50424F;
    --dm-tertiary: #D96FD3;
    --dm-highlight-1: #B7A6B5;
    --dm-highlight-2: #00B2B0;
    --dm-light-font: rgb(236, 229, 229);
    --dm-dark-font: rgb(41, 38, 38);
}

html,
body{
    padding: 0;
    margin: 0;
}


.grid-container{
    display: grid;
    
    height: 100vh;

    resize: both;
    grid-template: 1fr 10fr / 1fr 15fr;
}

.header{
    background-color: var(--lm-highlight-2);

    grid-column:2/3;
    grid-row:1/2;
}

.side-bar{
    grid-column: 1/2;
    grid-row:1/3;

    background-color: var(--lm-primary);
    color: var(--lm-light-font);
    font-family: "roboto";

    display: grid;
    grid-template-rows: 1fr 3fr 2fr 8fr;
}

.side-bar > * > *{
    outline: 1px transparent dashed;
}

.side-bar .logo {
    font-weight: bold;
    font-size: var(--large);
    color: var(--lm-light-font);

    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
}

.side-bar svg {
    display: felx;
    fill: var(--lm-light-font);
    height: 1.5em;
}

.menu-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
    padding: 0 1.5rem;

    font-weight: 100;
}

.menu-item svg {
    fill: var(--lm-light-font);
}

.menu-item .item {
    padding: 0;
    display: flex;
    align-items: baseline;

    font-size: var(--medium);
}

.side-bar ul{
    display: grid;
    padding: 0;
    margin: 0;
    list-style-type: none;
    align-self: end;
}

.side-bar li{
    display: flex;
    align-items: center;

    justify-content: flex-start;

    margin: 1rem;

}

.secondary{
    grid-row-start: 4;
    align-self: end;
}

.secondary li{
    align-items: end;
}

.content{
    background-color: var(--lm-highlight-1);

    grid-column: 2/3;
    grid-row: 2/3;
}