:root {
    /* spacing */
    --small-gap: 0.5rem;

    /* font sizes */
    --normal: 20px;
    --medium: 28px;
    --large: 48px;

    /* Themes */
    /* Light mode */
    --lm-primary: #2297ac;
    --lm-secondary: #50424F;
    --lm-tertiary: #D96FD3;
    --lm-highlight-1: rgb(215, 215, 236);
    --lm-highlight-2: #edf3f5;
    --lm-highlight-3: #00B2B0;
    --lm-light-font: rgb(236, 229, 229);
    --lm-dark-font: rgb(41, 38, 38);

    /* Dark mode */

    --dm-primary: #007B7C;
    --dm-secondary: #50424F;
    --dm-tertiary: #D96FD3;
    --dm-highlight-1: #B7A6B5;
    --dm-highlight-2: #00B2B0;
    --dm-light-font: rgb(236, 229, 229);
    --dm-dark-font: rgb(41, 38, 38);

    /* lengths */
    --card-height: 250px;
    --card-width: 350px;
    --gap: 20px;
    --button-width: 5rem;
    --small-gap: 1rem;
    --gap: 2rem;
    --large-gap: 3rem;
    --small-margin: 1rem;
    --margin: 2rem;
    --large-margin: 3rem;
    --frac-space: 1.5rem;
    --small-pad: 1rem;
    --pad: 2rem;
    --large-pad: 3rem;
}

html,
body {
    padding: 0;
    margin: 0;
}


.grid-container {
    display: grid;

    height: 100vh;

    resize: both;
    grid-template: 1fr 10fr / 1fr 15fr;
    overflow: visible;
}

.header {

    grid-column: 2/3;
    grid-row: 1/2;

    background-color: var(--lm-highlight-2);
    position: relative;
    z-index: 10;
    box-shadow: 2px 0px 5px 5px rgb(128, 128, 128);

    display: grid;
    grid-template-rows: 1fr 1fr;
}

/*
.header * {
    outline: dashed black 1px;
}
*/

.header .search-bar-container{
    display: flex;
    padding: var(--small-pad);
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
    margin-left: var(--frac-space);
}

.search-bar {
    display: flex;
    justify-content: flex-start;
    gap: var(--gap);
}

.search-bar svg path {
    stroke: black;
    stroke-width: 40px;
}

.search-bar input[type="text"]{
    background-color: var(--lm-highlight-1);
    outline: none;
    border:none;
    border-radius: 1rem;

    padding-left: var(--small-pad);
    width: 1rem;

    transition: width 0.35s;
    flex: 1;
}

.search-bar input[type="text"]:focus{
    width: 500px;
}

.profile-pic-small{
    background-color: var(--lm-tertiary);
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
}

.secondary-header{
    display: grid;
    padding: var(--small-pad);
    grid-template-columns: 1fr 1fr;
}

.button-container{
    display: flex;
    gap: var(--gap);
    justify-self: end;
    align-self: center;
    margin-right: 3rem;
}

.btn{
    font-size: var(--small);
    color: var(--lm-light-font);
    width: var(--button-width);
    padding: 10px 15px 10px;

    border: none;
    background-color: var(--lm-primary);
    border-radius: 2rem;

    cursor: pointer;
}

.btn:hover{
    opacity: .8;
}

.alert-container {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    flex-shrink: 0;
    align-items: center;
    margin-right: var(--large-margin);
}

.name-small {
    font-family: roboto;
    font-size: var(--small);
    font-weight: bold;
}

.user-info-container {

}

.side-bar {
    grid-column: 1/2;
    grid-row: 1/3;

    background-color: var(--lm-primary);
    color: var(--lm-light-font);
    font-family: "roboto";

    position: relative;
    z-index: 11;
    display: grid;
    grid-template-rows: 1fr 3fr 2fr 8fr;
    min-width: 400px;
}

.side-bar>*>*>* {
    outline: 1px transparent dashed;
}

.side-bar .logo {
    font-weight: bold;
    font-size: var(--medium);
    color: var(--lm-light-font);

    display: flex;
    gap: var(--small-gap);
    align-items: center;
    align-self: center;
    padding: var(--small-pad);
}

.header svg {
    transform: scale(-1,1) ;
    height: 1.5rem;
}
.side-bar svg {
    display: felx;
    fill: var(--lm-light-font);
    height: 1.5em;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: var(--frac-space);
    padding: 0 1.5rem;

    width: 100%;
    height: 100%;
    font-weight: 100;

    transition: translate 0.15s, scale 0.15s, font-weight 0.25s;
}

.menu-item:hover {
    translate: 15%;
    font-weight: bold;
    scale: 1.2;
    cursor: pointer;
    background-color: transparent /*(--lm-highlight-3);*/
}
.menu-item svg {
    fill: var(--lm-light-font);
}

.menu-item .item {
    padding: 0;
    display: flex;
    align-items: baseline;

    font-size: var(--medium);
}


.side-bar ul {
    display: grid;
    padding: 0;
    margin: 0;
    list-style-type: none;
    align-self: end;
}

.side-bar li {
    display: flex;
    margin: var(--small-margin) 0;
    align-items: center;

    justify-content: flex-start;
}


.secondary {
    grid-row-start: 4;
    align-self: end;
}

.secondary li {
    align-items: end;
}

.content * {
    outline: 1px dashed black;
}

.content {
    background-color: var(--lm-highlight-1);

    grid-column: 2/3;
    grid-row: 2/3;

    display: grid;

    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 12fr;
}

.sub-header {
    grid-column: 1/2;
    grid-row: 1/2;

    font-family: "roboto";
    font-weight: bold;
    font-size: var(--medium);
    color: var(--lm-dark-font);

    align-self: start;
    margin: var(--margin) var(--small-margin) 0;
}

.card-container {
    grid-column: 1/2;
    grid-row: 2/3;

    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(var(--card-width), 1fr));
    grid-auto-rows: calc(var(--card-height) + var(--gap));
    padding: var(--small-pad);
}

.card {
    background-color: var(--lm-highlight-2);
    height: var(--card-height);
    /*box-shadow:10px 0px 0px orange;*/
    border-radius: 8px;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-start;
}


.card::before{
    position: absolute;
    top: 0;
    left: -10px;
    width: 100px;
    height: 100%;
    background-color: rgb(0, 0, 0);
}