:root {
    /* spacing */
    --small-gap: 0.5rem;

    /* font sizes */
    --normal: 20px;
    --medium: 28px;
    --large: 48px;
    --font: "roboto";

    /* Themes */
    /* Light mode */
    --lm-bright: white;
    --lm-primary: #2297ac;
    --lm-secondary: #5f225b;
    --lm-tertiary: #D96FD3;
    --lm-highlight-1: rgb(230, 230, 248);
    --lm-highlight-2: #ffffff;
    --lm-highlight-3: #00B2B0;
    --lm-light-font: rgb(236, 229, 229);
    --lm-dark-font: rgb(41, 38, 38);
    --lm-grey-font: #A5A5A5;

    /* shadow */
    --h-offset: 2px;
    --v-offset: 2px;
    --blur: 3px;
    --spread: 2px;
    --shadow: #b1aeae;

    /* Dark mode */

    --dm-primary: #007B7C;
    --dm-secondary: #50424F;
    --dm-tertiary: #D96FD3;
    --dm-highlight-1: #B7A6B5;
    --dm-highlight-2: #00B2B0;
    --dm-light-font: rgb(236, 229, 229);
    --dm-dark-font: rgb(41, 38, 38);

    /* lengths */
    --card-height: 250px;
    --card-width: 350px;
    --gap: 20px;
    --button-width: 5rem;
    --small-gap: 1rem;
    --gap: 2rem;
    --large-gap: 3rem;
    --small-margin: 1rem;
    --margin: 2rem;
    --large-margin: 3rem;
    --frac-space: 1.5rem;
    --small-pad: 1rem;
    --pad: 2rem;
    --large-pad: 3rem;
    --rad: 8px;
}

html,
body {
    padding: 0;
    margin: 0;
}


.grid-container {
    display: grid;

    height: 100vh;

    resize: both;
    grid-template: 1fr 10fr / 1fr 15fr;
    overflow: visible;
}

.header {

    grid-column: 2/3;
    grid-row: 1/2;

    background-color: var(--lm-bright);
    position: relative;
    z-index: 10;
    box-shadow: var(--h-offset)
                var(--v-offset)
                var(--blur)
                var(--spread) 
                var(--shadow);

    display: grid;
    grid-template-rows: 1fr 1fr;
}

/*
.header * {
    outline: dashed black 1px;
}
*/

.header .search-bar-container{
    display: flex;
    padding: var(--small-pad);
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
    margin-left: var(--frac-space);
}

.search-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap);
}

.search-bar svg path {
    stroke: black;
    stroke-width: 40px;
}

.search-bar input[type="text"]{
    background-color: var(--lm-highlight-1);
    outline: none;
    border:none;
    border-radius: 2rem;
    font-size: var(--small);

    padding-left: var(--small-pad);
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 1rem;

    transition: width 0.35s;
    flex: 1;
}

.search-bar input[type="text"]:focus{
    width: 500px;
}

.profile-pic-small{
    background-color: var(--lm-tertiary);
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
}

.secondary-header{
    display: grid;
    padding: var(--small-pad);
    grid-template-columns: 1fr 1fr;
}

.button-container{
    display: flex;
    gap: var(--gap);
    justify-self: end;
    align-self: center;
    margin-right: 3rem;
}

.btn{
    font-size: var(--small);
    color: var(--lm-light-font);
    width: var(--button-width);
    padding: 10px 15px 10px;

    border: none;
    background-color: var(--lm-primary);
    border-radius: 2rem;

    cursor: pointer;
}

.btn:hover{
    opacity: .8;
}

.alert-container {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    flex-shrink: 0;
    align-items: center;
    margin-right: var(--large-margin);
}

.name-small {
    font-family: roboto;
    font-size: var(--small);
    font-weight: bold;
}

.user-info-container {

}

.side-bar {
    grid-column: 1/2;
    grid-row: 1/3;

    background-color: var(--lm-primary);
    color: var(--lm-light-font);
    font-family: "roboto";

    position: relative;
    z-index: 11;
    display: grid;
    grid-template-rows: 1fr 20fr ;
    min-width: 400px;
}

/*
.side-bar * {
    outline: 1px black dashed;
}
*/

.side-bar .logo {
    font-weight: bold;
    font-size: var(--medium);
    color: var(--lm-light-font);

    display: flex;
    gap: var(--small-gap);
    align-items: center;
    align-self: center;
    padding: var(--small-pad);
}

.sidebar .main{
    justify-self: start;

    height: 100%;
}

.header svg {
    transform: scale(-1,1) ;
    height: 1.5rem;
}
.side-bar svg {
    display: felx;
    fill: var(--lm-light-font);
    height: 1.5em;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: var(--frac-space);
    padding: 0 1.5rem;

    width: 100%;
    height: 100%;
    font-weight: 100;

    transition: translate 0.15s, scale 0.15s, font-weight 0.25s;
}

.menu-item:hover {
    translate: 15%;
    font-weight: bold;
    scale: 1.2;
    cursor: pointer;
    background-color: transparent /*(--lm-highlight-3);*/
}
.menu-item svg {
    fill: var(--lm-light-font);
}

.menu-item .item {
    padding: 0;
    display: flex;
    align-items: baseline;

    font-size: var(--medium);
}


.side-bar ul {
    display: grid;
    padding: 0;
    margin: 0;
    list-style-type: none;
    align-self: start;
}

.side-bar li {
    display: flex;
    margin: var(--small-margin) 0;
    align-items: center;

    justify-content: flex-start;
}


.secondary {
    grid-row-start: 4;
    align-self: end;
}

.secondary li {
    align-items: end;
}

/*
.content * {
    outline: 1px dashed black;
}
*/

.content {
    background-color: var(--lm-highlight-1);

    grid-column: 2/3;
    grid-row: 2/3;

    display: grid;

    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 12fr;
}

.sub-header {
    grid-column: 1/2;
    grid-row: 1/2;

    font-family: var(--font);
    font-weight: bold;
    font-size: var(--medium);
    color: var(--lm-dark-font);

    align-self: end;
    margin: var(--margin) var(--small-margin) 0;
}

.card-container {
    grid-column: 1/2;
    grid-row: 2/3;

    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(var(--card-width), 1fr));
    grid-auto-rows: calc(var(--card-height) + 2*var(--large-gap));
    padding: var(--small-pad);
}

.card {
    background-color: var(--lm-bright);
    height: var(--card-height);
    box-shadow: var(--h-offset)
                var(--v-offset)
                var(--blur)
                var(--spread) 
                var(--shadow);
    border-radius: 8px;
    border-left: 10px solid var(--lm-secondary);
    padding: var(--pad);

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-start;
}

.card .sub-header {
    font-family: "roboto";
    color: var(--lm-dark-font);
    margin: 0;
    font-weight: bold;
}
.card div {
    font-family: "roboto";
    font-size: 1.5rem;
    color: rgb(165, 165, 165);
}

.card svg {
    height: var(--frac-space);
}

.card .icons {
    display: flex;
    flex-direction: row;
    flex: auto;
    justify-content:flex-end;
    align-items: flex-end;
    gap: var(--gap);

    width: 100%;
    color: var(--lm-dark-font);
}

#Announcements{
    grid-column: 2;
}

.list-container {
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: var(--small-pad);
    justify-self: center;
    max-width: clamp(100px, 50rem, 400px);
}

.announcement-container {
    align-self: start;
    border-radius: var(--rad);
    background-color: var(--lm-bright);
    padding-left: var(--pad);
    padding-right: var(--pad);
    padding-top: var(--small-pad);
    padding-bottom: var(--small-pad);

    box-shadow: var(--h-offset)
                var(--v-offset)
                var(--blur)
                var(--spread) 
                var(--shadow);
}
.announcement .sub-header {
    font-size: var(--normal);
    font-weight: bold;
    color: var(--lm-dark-font);
    margin: 0;
}


.sub-text {
    font-size: var(--small);
    color: var(--lm-grey-font);
}

.announcement {
    border-bottom: 1px solid var(--lm-grey-font);
    padding: var(--small-pad);
}

#end {
    border-bottom: none;
}

.user {
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-content: start;
    align-items: center;
}

.sub-header[name="trending"]{
    margin-left: 0;
    margin-top: var(--large-margin);
    margin-bottom: var(--small-margin);
}

.handle {
    font-family: var(--font);
    font-size: var(--small);
    font-weight: bold;
}

.project{
    font-family: var(--font);
    font-size: var(--small);
    color: var(--lm-grey-font);
}

.announcement-container[name="trend"]{
    padding: var(--pad);
    display: grid;
    gap: var(--gap);
}